.page {
  font-family: 'Segoe UI';
  background:#a7e5ee;
  min-height: 100vh;
  /* background-image: url('/dash.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.content {
  padding: 20px;
}

.cards {
  display: flex;
  gap: 10px;
}

.card {
  flex: 1;
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  border-width: 3px;
}

.total{border-color: orange;}
.completed { border-color: green; }
.pending { border-color: red; }