.overlay {
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  background: rgba(0,0,0,0.4);
  display:flex;
  justify-content:center;
  align-items:center;
}

.modal {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.actions {
  margin-top: 15px;
}

button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
}

.delete {
  background: red;
  color: white;
}