.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.logo {
  color: #0e0e0e;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav {
  padding: 6px 12px;
  cursor: pointer;
  color: #555;
  border-radius: 5px;
}

.nav.active {
  background: #111314;
  color: white;
}