.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6fb;
  background-image: url('/login.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  width: 300px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #2db2c6;
  color: white;
  border: none;
}

.link {
  color: #2f6fed;
  cursor: pointer;
}